<!-- <form nz-form nzLayout="vertical">
  <nz-form-item>
    <nz-form-label nzFor="email">E-mail</nz-form-label>
    <nz-form-control>
      <input nz-input type="email" id="email" name="email" [(ngModel)]="email" />
    </nz-form-control>
  </nz-form-item>
</form> -->
<app-dynamic-form #passwordForm [config]="formConfig" />
<button nz-button nzType="primary" nzBlock (click)="submit()" [disabled]="passwordForm.form.invalid" [nzLoading]="loadingService.loading()">Enviar e-mail</button>
<button nz-button nzType="link" nzBlock routerLink="/auth">Voltar</button>
